:root {
    --pink-color: #D529B6;
    --white-color: #ffffff;
    --grey: #979595;
    --gap: 3rem;
    --puple-color: #773d94;
}

* {
    padding: 0;
    margin: 0;
}

section {
    padding: 28px 8%;
}

li {
    list-style-type: none;
}

.main-content-nav {
    max-width: 1200px;
    margin: 0 auto;
}

.main-bg {
    background-image:url('../imgs/rose-petals.svg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    border-bottom: 1px solid var(--grey);
}

.white-bg {
    background: var(--white-color);
    height: 100vh;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 7rem var(--gap);
}