.contato-links {
    display: flex;
    gap: var(--gap);
    margin-top: 20px;
}

.contato-links a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--golden-color);
    font-weight: 600;
    transition: color 250ms ease-in-out;
}

.contato-links a:hover {
    color: var(--grey);
}

.footer-bg {
    background: var(--blue);
    color: var(--white-color);
}

#criador {
    margin-top: 20px;
    font-size: 15px;
}

#criador a {
    text-decoration: none;
    color: var(--golden-color);
}